{% extends 'demo/page0.html' %}

{% block title %}{{ block.super }} - Tab 0{% endblock %}

{% block page0_tab0_class %}active{% endblock %}

{% block tabcontent %}
  <p>
    Morbi pulvinar est sed eros suscipit pharetra tempor ac urna. Vivamus convallis auctor neque. Etiam condimentum orci nisi, in ultrices ligula pulvinar quis. Phasellus suscipit, mauris et hendrerit fermentum, sapien dolor sagittis arcu, tempor tincidunt tellus velit quis lacus. Suspendisse elit dui, interdum ullamcorper laoreet ut, volutpat et nulla. Nulla adipiscing consectetur tincidunt. Quisque auctor luctus quam interdum feugiat. In a nisl vitae odio cursus scelerisque. Mauris a tellus at elit ultrices volutpat quis sit amet mi. Nulla nec lectus libero.
  </p>
{% endblock %}
